/*---------------------------------------------------------*/

#Whole {
    text-align: center;
    /* background-color: #dfc7c6;*
    #f9f7f2
    */
    padding: 20px;
    width: 60%;
    margin-left: 17%;
    background-color: #f9f7f2;

}

h1 {
    color: #210706;
    font-size: 50px;

}

#topics {
    background-color: #eee9c1fc;
    padding: 5px;
    border-radius: 5px;
}

#topics #maintopic {
    color: #210706;
}

#topics ul {
    text-align: left;
    list-style-type: none;
    border-left-style: solid;
    border-left-color: #891d1a;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;



}

#topics ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #090d26;
}


#topics ul li a:hover {
    color: #891d1a;
    text-decoration: underline;

}

#topics ul li a:active {
    color: #c63d2e;

}


#topics ul li {
    padding: 5px;
}


#sub p {
    text-align: center;
    font-size: 20px;
    color: #210706;


}

#sub h2 {
    font-size: 40px;
    color: #520c16;
}



.key {
    color: #891d1a;
    font-size: 30px;
}

.concepts {
    list-style-type: disc;
    color: #090d26;
    background-color: #eee2d6fc;
    padding: 25px;
    border-radius: 5px;
    border-top-style: solid;
}

div #quote {
    background-color: #f5ecd9;
    color: #011e0d;
    padding: 15px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #a16f88;
}



.btn {

    margin-top: 20px;
    padding: 12px 25px;
    background-color: #7a1f1f;
    color: #f4eede;
    text-decoration: none;
    border-radius: 5px;

}

.btn:hover {
    background-color: #5c1414;
}

.btn:active {
    background-color: #a50707;
}

#btndiv {
    text-align: right;
    margin: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}