fieldset {
    width: 450px;
    text-decoration: solid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-image: url(../resources/contact2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: white;
}


.moveRight {
    text-align: left;
    background-color: #6f1814e2;
    color: #f3d3d2fc;
    border-radius: 10px;
    /* #cb847ffc*/
}

fieldset {
    border: none;
    background-color: #c8808088;
    border-radius: 5px;
    margin: 0px;
}

fieldset legend {
    font-size: 20px;
    color: rgb(28, 8, 2);
}

textarea {
    border: none;
    border-radius: 5px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.594);
}

input {
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.594);
}

label {
    padding-left: 5px;
}


.btn {
    background-color: rgba(147, 19, 19, 0.795);
    color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    font-weight: bold;

}

.btn:hover {

    background-color: #b57470fc;

}

.btn:active {

    background-color: #a15a56fc;

}

#title {
    color: darkred;
    margin: 0px;
    padding: 20px;
    background-color: #eee9c1fc;
    text-align: center;
    text-transform: uppercase;
}

a {
    color: rgb(236, 143, 143);
}

.rating:hover {
    font-size: 20px;
}