/*---------------------------------------------------------*/

.qBox {
    background-color: #e1c2a0;
    border-radius: 5px;
    padding: 15px;
    margin: 20px;

}

.qBox label {
    color: #340602;


}

.opCont input {
    margin: 10px;
}


#title {
    margin-top: 0px;
    text-indent: 50px;
    background-color: #fce391;
    padding: 15px;
}

.opCont {
    text-align: justify;
    font-size: 20px;
    padding: 5px;
    margin: 15px;
}


.btn {
    border: none;
    color: #f4eede;
    background-color: rgba(139, 0, 0, 0.867);
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;


    text-decoration: none;
}


.btn:hover {
    background-color: #6a0202;
    color: #f4eede;
}

.btn:active {
    background-color: #ae0606;
    color: #f4eede;
}