/*----------------------------------------------------------*/


body {

    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    width: 200px;

    border: rgba(30, 32, 35, 0.497) solid 2px;
    border-radius: 8px;

}

.col {


    padding-left: 6%;
    padding-top: 20px;
}

.card {
    width: 18em;

}

.accordion {
    width: 90%;
}

.container-fluid {
    margin: 0px;
}

.text {
    font-style: italic;
    padding: 15px;

    border-radius: 8px;

}

.card {
    height: fit-content;
}


h2 {
    margin: 0px 0px 10px;
}



.btn {

    margin-top: 20px;
    padding: 12px 25px;
    background-color: #7a1f1f;
    color: #f4eede;
    text-decoration: none;
    border-radius: 5px;

}

.btn:hover {
    background-color: #5c1414;
    color: #f4eede;
}

.btn:active {
    background-color: #a50707;
    color: #f4eede;
}

#btndiv {
    text-align: right;
    margin: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}