/*---------------------------------------------------------*/

.qBox {
    background-color: #e1c2a0;
    border-radius: 5px;
    padding: 15px;
    margin: 20px;
}

.qBox label {
    color: #340602;


}

.opCont input {
    margin: 10px;
}


#title {
    margin-top: 0px;
    text-indent: 50px;
    background-color: #fce391;
    padding: 15px;
}

.opCont {
    text-align: justify;
    font-size: 20px;
    padding: 5px;
    margin: 15px;
}


.Btn {
    border: none;
    color: blanchedalmond;
    background-color: rgba(139, 0, 0, 0.867);
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;

    text-decoration: none;
}

.Btn:hover {
    background-color: #6a0202;
}

.Btn:active {
    background-color: #ae0606;
}