/*----------------------------------------------------------*/

.intro {
    width: 100%;
    height: 90vh;
    background-image: url("../resources/Untitled\ design.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}



.introCont {
    text-align: left;
    color: #f4eede;
    width: 600px;
    padding: 100px 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.introCont h1 {
    font-size: 48px;
    margin: 0 0 20px;
}


.introCont p {
    font-size: 18px;


}


.btn {

    margin-top: 20px;
    padding: 12px 25px;
    background-color: #7a1f1f;
    color: #f4eede;
    text-decoration: none;
    border-radius: 5px;

}

.btn:hover {
    background-color: #5c1414;
}


.btn:active {
    background-color: #a50707;
}

.about-section {
    margin-top: 50px;
    padding: 70px 50px;

    background-color: #ffffff;
}

.about-section h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    color: #7a1f1f;
}

.about-section #p1 {
    text-align: center;
    font-size: 18px;
    padding: 30px;



}



.info-cards {
    margin-top: 40px;
}

.card {
    text-align: center;
    background: #f9f4ef;
    border: 1px solid #e5dccc;
    padding: 25px;
    width: 280px;
    border-radius: 10px;
    height: 150px;
}



.card p:hover {
    color: #420e09;
    font-size: larger;
}

.card h3 {
    color: #7a1f1f;
    margin-bottom: 15px;
}