/*----------------------------------------------------------*/


body {

    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    width: 150px;
    border: none;
    border-radius: 2px;
    border-bottom: black solid 3px;
    margin-right: 15px;
}


.text {
    max-width: 1000px;
    font-style: italic;
    padding: 15px;
    border-left: 3px solid;
    border-radius: 8px;

}




h2 {
    margin: 0px 0px 10px;
}

table {
    margin: 50px 100px;
}


.btn {

    margin-top: 20px;
    padding: 12px 25px;
    background-color: #7a1f1f;
    color: #f4eede;
    text-decoration: none;
    border-radius: 5px;

}

.btn:hover {
    background-color: #5c1414;
}

.btn:active {
    background-color: #a50707;
}

#btndiv {
    text-align: right;
    margin: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}