nav {
    background-color: #891d1a;
    height: 100px;
    /* text-align: center;*/
    padding-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    width: 100%;
}

nav strong {
    font-size: 50px;

    padding: 20px;
    color: #eee9c1fc;
    font-family: "Lucida Handwriting";

}

nav a {
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    color: #e5c5c1;
    font-weight: 500;

}

nav a:hover {
    border-bottom-style: solid;
    border-radius: 2px;
    border-bottom-color: #e2f1b5;
    color: #f4e1e0;

}

nav a:active {
    border-bottom-style: solid;
    border-radius: 2px;
    border-bottom-color: #ba6b62;
    background-color: #420e09;


}

nav #selected {
    border-bottom-style: solid;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-color: #90ba9f;
    color: #fcf3e3;
}


nav #selected:hover {
    border-bottom-color: #de9a9a
}


body {
    margin: 0px;
    background-color: #faf4e7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}