h1 {
    text-align: center;
    background-color: #eee9c1fc;
    margin: 0px;
    padding: 15px;
    color: #472c29;

}

p {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    padding: 15px;


}


.p1 {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

    font-weight: 50%;
    background-color: #eed4c1fc;
    padding: 50px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}


td {
    padding: 15px;
    height: 100%;
}

tr {
    height: 100%;
}

td .Box {
    height: 100%;
}

table {

    border-radius: 18px;

    margin-bottom: 0%;
    margin-top: 0%;


}



/*
notes for raneen:
i removed the margin 300 and something 
you used it to minimize the width of the table
but it distorted the web page 
you couldve just used the width property.
i added the width property to the div of the table
and i also changed the inline margin to center the div again

and i did the exact same thing with p1 , i specified the width and added a left margin so it doesnt stick on the left

to the h1 element i wanted to make consistenf with the other pages so
i made it look like a title bar ,just background color,some paddings ,and zero margin so it sticks to the nav bar

did the same thing with all p tags inside .div2


*/